body {
  font-family: "PT Mono", monospace;
}
h1 {
  text-align: center;
  font-size: 50px;
}
.select-container {
  text-align: center;
}
footer {
  text-align: center;
}
.fa-brands.fa-square-github {
  font-size: 20px;
  color: #840a84;
}
.fa-brands.fa-linkedin {
  font-size: 20px;
  color: #0270ad;
}
